/* ---layout, nav, header--- */
 /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid gold;
} */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;

}
body {
    background: rgb(0,0,0,0.06);
}
header{
    background-image: url(https://i.imgur.com/V5y3Xn2.png);
    text-align: center;
    background-size: cover;
    color: white;
}
h1 {
    font-size: 50px;
}
.headshot{
    background: rgba(0,0,0,0.5);
}
.img-headshot {
    margin: 25px 0px 20px 0px;
    border: 7px solid white;
    border-radius: 10px;
}
ul {
    padding: 20px;
    background: rgba(0,0,0,0.8);
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
    font-size: 1.2em;
}
#a {
    color: rgb(255,165,0);
    font-size: 1.4em;
}
/* .name{
    background: rgba(0,0,0,0.8);
} */
.myname{
    font-size: 2.3em;
}
/* ---end layout, nav, header--- */
/* ***************************** */
/* ---projects cards--- */
.card {
    width: 40rem;
    height: 100%;
    margin: 0 auto;
    color: black;
    box-shadow: 0px 4px 4px 4px rgba(60,64,67,.30), 0 2px 6px 2px rgba(60,64,67,.15);
    border-radius: 8px;
}
#card{
    background: rgba(0,0,0,0.12);
    color: black;
    border: 5px;
}
.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    overflow: hidden;
    margin: 0px 30px;
}
#card-header{
    background-color: rgba(8,8,8);
    font-size: 1.6em;
    padding: 15px;
    color: whitesmoke;
    font-style: italic;
    text-align: center;
}
#card-descripton {
    padding: 0px 30px;
}
/* .card-btns{
    display: flex;
    flex-direction: column;
} */
#btn-orange{
    margin: 20px 30px;
    border: 3px rgb(8,8,8);
    border-radius: 20px;
    background-color: rgb(8,8,8);
    color: white;
    width: 120px;
    height: 40px;
    font-size: 1.2em;
}
#btn-orange:hover {
    background-color:rgb(255,165,0);
    color: black;
}
.h2-projects{
    padding: 9px;
    font-size: 1.6em;
    text-align: center;
}
#img-project {
    width: 100%;
    height: 50vh;
    padding-bottom: 15px;
    /* background-color: black; */
    opacity: .8;
}
#img-project:hover {
    opacity: 1;
}

/* ---end projects cards--- */
/* ***************************** */
/* ---home page--- */
footer{
    padding-top: 40px;
}
.link-projects, .link-projects:hover{
    color:  rgb(255,165,0);
}
.resume-container{
    padding: 20px 60px 0px 60px;
}

/* ---end home page--- */
/* ***************************** */
/* ---mobile--- */
@media (max-width: 1024px) {
    h1 {
        font-size: 36px;
        padding: 5px;
    }
    li {
        padding: 5px;
        display: block;
    }
    .card{
        width: 100%;
    }
    #btn-orange{
        margin: 20px;
        border: 3px rgb(8,8,8);
        border-radius: 20px;
        background-color: rgb(8,8,8);
        color: white;
        width: 140px;
        height: 60px;
        font-size: 1em;
    }
    #btn-orange:hover {
        background-color:rgb(255,165,0);
        color: black;
    }
    .h2-projects{
        padding: 15px 20px 15px 20px;
        font-size: 1.25em;
        text-align: center;
    }
    #card-descripton {
        padding: 20px;
    }
    #img-project {
        width: 100%;
        height: 100%;
        padding: 25px 30px 30px 30px;
        /* background-color: black; */
        opacity: .8;
    }
    #img-project:hover {
        opacity: 1;
    }
}